:root {
	max-width: 1440px;
}

html, body, h1, li{

	margin: 0;
	padding: 0;
	overflow-x: hidden;

}
header {
	position: relative;
	height: 60px;
	width: 100%;
	background-color: lightblue;
	/*margin-bottom: 10px;*/
}
#name {
	font-family: copperplate gothic;
	position: relative;
	left: 20px;
	top: 20%;
	font-size: 2em;
	-webkit-animation-delay: 1s;
	-webkit-animation-duration: 5s;
}
#secondary {
	display: inline;
	position: absolute;
	left: 250px;
	top: 27px;
}
nav {

	position: absolute;
	width: 100%;
	top: 0;
}
.menu {

	text-align: right;
	position: relative;
	top: 0;
}
.menu li {

	display: inline-block;
	position: relative;
	margin-right: 20px;
	padding: 6px;
	cursor: pointer;
	list-style: none;
	color: black;
	transition: color .3s;
	-webkit-transition: color .3s;

}
li:hover {

	color: white;
}
#top-border-scroll {

	height: 60px;
	width: 1440px;
	position: relative;
	background-image: url("../img/bold-dash.png");
	left: 2000px;
	transition: left 5s;
	margin-bottom: 30px;
}
#headshot-wrapper{
	position: relative;
	background-image: url("../img/Headshot.jpg");
	width: 100%;
	height: 600px;
	/*border-top: 30px dashed rgba(0,0,0,.1);*/
	/*border-bottom:60px dashed rgba(0,0,0,.1);*/
	background-position: center;
	background-repeat: no-repeat;
	-webkit-animation-delay: 1s;
	-webkit-animation-duration: 3s;

	/*border-bottom: 10px dashed;*/

}
#quote-container {
	-webkit-animation-delay: 3s;
	-webkit-animation-duration: 3s;
}
#quote {
	text-align: center;
	font-size: 1.5em;
	border-bottom: none;
}
#border-scroll {

	height: 60px;
	width: 1440px;
	position: relative;
	background-image: url("../img/bold-dash.png");
	left: 0px;
	transition: left 5s;
	margin-bottom: 30px;
}

#shadowbox-wrapper {

	width: 100%;
}

#blue-wrapper{
	width: 100%;
	/*background-color:white;*/
	transition: background-color 2s, box-shadow 2s;

}
	
#blue-wrapper:hover{
	background-color: lightblue;
	box-shadow: -2px 10px 20px 1px lightblue, -2px -10px 20px 1px lightblue;

}
#blue-wrapper-two:hover{
	background-color: lightblue;
	box-shadow: -2px 10px 20px 1px lightblue, -2px -10px 20px 1px lightblue;
	
}

#row1 {
	width: 100%;
	position: relative;
	left: 200px;
}

#row2 {
	width: 100%;
	position: relative;
	left: 190px;
}

.awk-picture {
	background-position: center no-repeat;
	height: 300px;
	width: auto;
	top: 300px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 1px 1px 10px black;
	margin: 20px 0 20px 30px;
	transition: box-shadow 1s;
	-webkit-transition: box-shadow 1s;
}


.awk-picture:hover {

	box-shadow: 10px 10px 20px black;
}

/*!!!!!!FADE IN EFFECT FOR IMAGES!!!!!!!!!*/
.fade {
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 4s;
}




/*MEDIA QUERIES*/

@media screen and (max-width: 760px) {

	.menu li {
		display: none;
	}
}
@media screen and (max-width: 600px) {

	#row1 {

		left: 60px;
	}
	
	#row2 {
		left: 0;
	}

	.larger-headshot {
		width: 340px;
		height: auto;
	}

}
@media screen and (max-width: 500px) {
	#quote {
		font-size: 1.1em;

	}
	#secondary {
		font-size: .75em;
		top: 16px;
	}
	#row1 {

		left: 30px;
	}
	.larger-headshot {
		width: 250px;
		height: auto;
	}

}



	